.grid {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        min-height: 1em;
        outline: 1px;

        .start {
            align-items: flex-start;
        }
    
        .center {
            align-items: center;
        }
    
        .end {
            align-items: flex-end;
        }

        .top {
            margin-bottom: auto;
        }

        .middle {
            margin: auto 0 auto 0;
        }

        .bottom {
            margin-top: auto;
        }
    }

    .row.fitted {
        flex: 0 0 auto;
    }
    
    .row + .row {
        margin-top: 1px;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        min-height: 1em;
        outline: 1px;

        .start {
            align-items: flex-start;
        }
    
        .center {
            align-items: center;
        }
    
        .end {
            align-items: flex-end;
        }

        .top {
            vertical-align: top;
        }

        .middle {
            vertical-align: middle;
        }

        .bottom {
            vertical-align: bottom;
        }
    }

    .column.fitted {
        flex: 0 0 auto;
    }
    
    .column + .column {
        margin-left: 1px;
    }
    
    .content {
        display: block;
        padding: 5px;
        height: 100%;
        justify-content: left;
        align-items: flex-start;
    }

    .content.fitted {
        padding: 0;
    }

    .content.flex {
        display: flex;
    }
    
    .column > .content.start {
        justify-content: left;
    }
    
    .column > .content.center {
        justify-content: center;
    }
    
    .column > .content.end {
        justify-content: right;
    }
    
    .column > .content.top {
        vertical-align: top;
    }
    
    .column > .content.middle {
        vertical-align: middle;
    }
    
    .column > .content.bottom {
        vertical-align: bottom;
    }

    .row > .content.start {
        justify-content: left;
    }
    
    .row > .content.center {
        justify-content: center;
        align-items: center;
    }
    
    .row > .content.end {
        justify-content: right;
    }
    
    .row > .content.top {
        vertical-align: top;
    }
    
    .row > .content.middle {
        vertical-align: middle;
    }
    
    .row > .content.bottom {
        vertical-align: bottom;
    }
}

.grid.outline .row {
    outline: 1px solid #222;
}

.grid.outline .column {
    outline: 1px solid #222;
}
