a {
    color: #CCC;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #AAA;
}

.background {
    width: 100%;
    position: fixed;
    z-index: -100;
}

.background.top {
    height: 200px;
}

.background.bottom {
    height: calc(100% - 200px);
    top: 200px;
}

.segment {
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: #222;
    margin: 20px 0 20px 0;
}