a {
    color: #CCC;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #AAA;
}

.background {
    width: 100%;
    position: fixed;
    z-index: -100;
}

.background.top {
    height: 200px;
}

.background.bottom {
    height: calc(100% - 200px);
    top: 200px;
}

.header-overlap {
    height: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(#222, rgba(34, 34, 34, 0));
}

.segment {
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: #222;
    margin: 20px 0 20px 0;
}

.divider {
    border-bottom: 1px solid #666;
    padding: 5px;
    margin: 0 10px 10px 10px;
}

.divider.hidden {
    border: none;
}

.skills {
    margin: 20px;

    .skills-grid {
        width: 100%;

        .row {
            outline: 1px solid #447 !important;
        }
        
        .skill-header {
            background-color: #447;
            color: #FFF;
            font-weight: bold;
        }
    }
}