@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    font-family: Lato, Arial, Helvetica, sans-serif;
}

.root {
    width: 1000px;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
}