body {
    color: #CCC;
    background-color: #646;
}

.header {
    padding: 10px 10px 0 10px;

    h1 {
        margin: 0;
        display: block;
    }
    
    h2 {
        margin: 0;
        display: block;
        font-size: 1em;
    }

    .logo {
        width: 80px;
        max-width: 10vw;
    }
}

.main { 
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    overflow-y: auto;

    h1 {
        margin: 10px 0 20px 0;
        padding: 0 10px 0 10px;
        font-size: 1.5em;
    }

    p {
        margin: 10px 0 20px 0;
        padding: 0 10px 0 10px;
    }

    .small {
        font-size: 0.8em;
        font-weight: bold;
        opacity: 0.8;
    }

    .profile-pic {
        height: 120px;
        border: 1px #999 solid;
        border-radius: 5px;
        background-image: linear-gradient(#DDE, #FFF);
        margin: 0 20px 0 10px;
    }

    .logo-row {
        display: none;
    }

    .grid {
        color: #444;

        .grid-header {
            background-color: #444;
            color: #EEE;
            font-weight: bold;
        }
    }

    .grid.outline .row {
        outline: 1px solid #444;
    }
    
    .grid.outline .column {
        outline: 1px solid #444;
    }

    .timeline {
        color: #222;
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .entry {
            display: flex;
            flex-direction: row;

            .marker {
                border-left: 1px #222 solid;
                padding-right: 20px;
                margin-left: 10px;
                height: 80px;
                position: relative;

                .dot {
                    height: 12px;
                    width: 12px;
                    background-image: linear-gradient(45deg, #CCF, #FFF);
                    border-radius: 50%;
                    border: 1px solid #222;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
    
            &:first-child {
                .contents {
                    border-top: none;
                }
            }

            .contents {
                display: flex;
                flex-direction: row;
                border-top: 1px solid #DDD;
                flex-grow: 1;
    
                .details {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    margin: auto 0;
                    padding-left: 20px;

                    h1 {
                        margin: 0;
                        padding: 0;
                        font-size: 1.2em;
                        font-weight: bold;
                    }
            
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
        
                .dates {
                    flex-grow: 0;
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8em;
                    font-weight: bold;
    
                    div {
                        display: flex;
                        flex-direction: row;
                        padding: 4px 0;

                        &:last-child {
                            margin-top: auto;
                        }
    
                        div {
                            flex: 1 1 auto;
                            padding: 0 5px;

                            &:last-child {
                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }
}

.portrait {
    .main {
        .logo-column {
            display: none;
        }

        .logo-row {
            display: flex;

            .content {
                margin: 0 auto 0 auto;
            }
        }
    }
}

.background.top {
    background-color: #222;
}

.background.bottom {
    background-image: linear-gradient(#222, #446, #646);
    height: 1000px;
}

.logo-canvas {
    width: 300px;
}