@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    .light {
        --body-color: rgb(247, 247, 247);
        --background-color: rgb(255, 255, 255);
        --primary-color: rgb(121, 153, 173);
        --secondary-color: rgb(51, 67, 77);
        --tertiary-color: rgb(112, 112, 112);
        --core-text-color: rgb(56, 56, 56);
    }

    .dark {
        --body-color: #404244;
        --background-color: #2e2f31;
        --primary-color: rgb(121, 153, 173);
        --secondary-color: rgb(159, 179, 190);
        --tertiary-color: rgb(187, 187, 187);
        --core-text-color: rgb(226, 226, 226);
    }
}

body {
    background-color: var(--body-color);
}

.hidden {
    display: none !important;
}

.ui.segment {
    background-color: var(--background-color);
}

.dark {
    .ui.segment {
        border-color: #6a6c70;
    }
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.logo-wrapper {
    border-radius: 5pt;

    .logo-container {
        text-align: center;
        font-size: 3em;
        margin: 0;
        width: 100%;
        padding: 1em;
    
        .logo-1 {
            font-weight: 300;
            color: var(--secondary-color);
            line-height: 1em;
        }
    
        .logo-2 {
            font-weight: 500;
            color: var(--primary-color);
            line-height: 1em;
        }
    
        .logo-sub {
            font-weight: 200;
            font-size: 0.4em;
            line-height: 1em;
            margin-top: 0.7em;
            display: block;
            color: var(--tertiary-color);
        }
    }
}

.page-contents {
    padding: 0em 1em 0em 1em;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--core-text-color);
    text-align: center;

    br {
        margin-top: 1em;
    }

    b {
        color: var(--primary-color);
    }

    table {
        width: 80%;
        margin: 1em auto 1em auto;
        border: 1pt #CCC solid;
        border-radius: 5pt;
        border-collapse: collapse;
        color: var(--primary-color);
        font-weight: 400;

        th {
            border: 1pt var(--primary-color) solid;
            background-color: var(--primary-color);
            padding: 0.4em;
            color: var(--background-color)
        }

        td {
            border: 1pt var(--primary-color) solid;
            padding: 0.4em;
        }
    }

    table.interactive {
        tr:hover {
            cursor: pointer;
            background-color: var(--background-color);
        }
    }
}

.page-contents.top {
    padding-bottom: 2em;
}

.page-contents.bottom {
    padding-top: 2em;
}

.desktop.home {
    .logo-container {
        font-size: 6em;
        
        .logo-sub {
            margin-top: 1.4em;
        }
    }

    .page-contents {
        font-size: 1.5em;
    }
}

.home {
    .logo-wrapper {
        cursor: auto;
        background-color: var(--background-color) !important;
    }
}

.desktop {
    .mobileOnly {
        display: none;
    }
}

.mobile {
    .desktopOnly {
        display: none;
    }
}

.landscape {
    .portraitOnly {
        display: none;
    }
}

.portrait {
    .landscapeOnly {
        display: none;
    }
}

.ui.button.blue {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--background-color) !important;
}

.ui.button.blue.basic {
    color: var(--primary-color) !important;
    background-color: var(--background-color) !important;
}

.ui.button.blue.basic:hover {
    color: var(--secondary-color) !important;
}

.light {
    .darkOnly {
        display: none;
    }
}

.dark {
    .lightOnly {
        display: none;
    }
}

.game-panel {
    margin: 30pt 0 10pt 0;

    h1 {
        color: #CCC;
    }

    iframe {
        width: 600pt;
        height: 600pt;
        border: 1pt solid #222;
    }

    a {
        display: block;
        font-size: 20pt;
        padding: 10pt;
    }
}

.light {
    .game-panel {
        h1 {
            color: #222;
        }
    }
}