@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    .light {
        --body-color: rgb(247, 247, 247);
        --background-color: rgb(255, 255, 255);
        --background-secondary-color: rgb(213, 220, 224);
        --primary-color: rgb(121, 153, 173);
        --secondary-color: rgb(51, 67, 77);
        --tertiary-color: rgb(112, 112, 112);
        --core-text-color: rgb(56, 56, 56);
        --triangle-color: rgb(56, 56, 56);
        --darker-header: #D5DCE0;
    }

    .dark {
        --body-color: #404244;
        --background-color: #56585a;
        --background-secondary-color: #434446;
        --primary-color: rgb(121, 153, 173);
        --secondary-color: rgb(159, 179, 190);
        --tertiary-color: rgb(187, 187, 187);
        --core-text-color: rgb(226, 226, 226);
        --triangle-color: rgb(232, 232, 232);
        --darker-header: #434446;
    }
}

body {
    background-image: radial-gradient(closest-side, var(--background-color), var(--background-secondary-color));
    padding: 1em;
}

.header {
    border-bottom: var(--tertiary-color) 1pt solid;
    margin: 0 auto 0 auto;
    padding: 1.5em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    max-width: 800pt;

    .logo {
        .name {
            font-size: 2em;
            padding-bottom: 0.2em;
    
            .first {
                margin-right: 3pt;
                color: var(--primary-color);
            }
        
            .last {
                color: var(--secondary-color);
            }
        }
    
        .alias {
            color: var(--tertiary-color);
            font-size: 1em;
            font-weight: 300;
            margin-left: 1pt;
    
            .first {
                margin-right: 1pt;
                color: var(--primary-color);
            }
        
            .last {
                color: var(--tertiary-color);
                font-weight: 400;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto 0 auto auto;

        .menu-item {
            color: var(--primary-color);
            font-size: 1.2em;
            padding: 0 5pt 0 5pt;
            cursor: pointer;
            margin-left: auto;
            font-family: consolas;
            text-transform: lowercase;
            -webkit-tap-highlight-color: transparent;
        }

        .menu-item:before {
            content: "<";
        }

        .menu-item:after {
            content: ">";
        }

        .menu-item:hover {
            color: var(--tertiary-color);
        }
    }
}

.content {
    margin: 0 auto 0 auto;
    max-width: 800pt;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 200;
    color: var(--core-text-color);

    .portrait {
        position: absolute;
        z-index: -100;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            padding: 0;
            margin: 0;
            bottom: 0;
            left: 0;
            height: 300pt;
            width: auto;
            max-height: 60%;
        }
    }

    .summary {
        .tagline {
            font-family: consolas;
            font-weight: bold;
            padding: 0 0 0.5em 0;
        }

        text-align: center;
        max-width: 300pt;
        min-width: 50%;
        margin: 10% 20pt 0 40%;
    }

    .game-list {
        display: flex;
        flex-direction: column;

        .game {
            margin: auto;
            padding: 5pt;
            width: 300pt;
            max-width: calc(100vw - 10pt - 2em);
            height: 320pt;
            text-align: center;

            a {
                font-family: consolas;
                text-transform: lowercase;
            }

            a:before {
                content: "<";
            }

            a:after {
                content: ">";
            }
    
            iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }

    .game-instructions {
        text-align: center;

        .game-buttons {
            display: flex;
            flex-direction: column;

            button {
                margin: 10pt auto 0 auto;
                width: 50%;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        font-family: consolas;
        text-transform: lowercase;

        .contact-group {
            display: flex;
            flex-direction: column;
            margin: auto;

            i {
                margin: auto;
            }
    
            a {
                margin: 0 auto 0 auto;
            }
        }

        a:before {
            content: "<";
        }

        a:after {
            content: ">";
        }
    }

    .experience {
        h1 {
            font-size: 1.2em;
            margin-bottom: 0.2em;
            color: var(--secondary-color);
        }

        .section {
            margin: 0 0 20pt 0;
        }
    }
}

table {
    width: 100%;
    margin: 1em auto 1em auto;
    border: 1pt #CCC solid;
    border-radius: 5pt;
    border-collapse: collapse;
    color: var(--primary-color);
    font-weight: 400;

    th {
        border: 1pt var(--primary-color) solid;
        background-color: var(--primary-color);
        padding: 0.4em;
        color: var(--background-color)
    }

    th.darker {
        color: var(--darker-header);
    }

    td {
        border: 1pt var(--primary-color) solid;
        padding: 0.4em;
        text-align: center;
    }
}

table.interactive {
    tr:hover {
        cursor: pointer;
        background-color: var(--background-color);
    }
}

.theme-button {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;

    .bulb {
        position: fixed;
        left: 0px;
        bottom: 3px;
        z-index: 100;
        color: var(--background-secondary-color)!important;
        pointer-events: none;
    }

    svg {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;

        .triangle {
            fill: var(--triangle-color);
            stroke: var(--triangle-color);
            stroke-width: 0;
            padding: 0;
            margin: 0;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }
    }
}

@media only screen and (max-width: 600px) {
    .header {
        .menu {
            flex-direction: column;
        }
    }
}

.hidden {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.desktop {
    .mobile-only {
        display: none;
    }
}

.mobile {
    .desktop-only {
        display: none;
    }
}

.landscape {
    .portrait-only {
        display: none;
    }
}

.portrait {
    .landscape-only {
        display: none;
    }
}

.light {
    .dark-only {
        display: none;
    }
}

.dark {
    .light-only {
        display: none;
    }
}

.debug {
    border: #800 solid 1pt;
}